{% extends 'dingding/template.html' %}
{% block content %}
    <body onload="start()" style="background:transparent;">
<table align="center">
    <tr>
        <td rowspan=2 style="width: 300px;">
            <b>分组：</b>
            <select id="group" size="33" class="selectpicker show-tick form-control"></select>
        </td>
        <td style="width: 400px;">
            <b id="choice_text">成员：</b>
            <select id="choice" size="31" multiple="multiple" class="selectpicker show-tick form-control"></select>
        </td>
        <td style="width: 400px;">
            <b>全部人员：</b>
            <select id="member" size="31" class="selectpicker show-tick form-control"></select>
        </td>
    </tr>
    <tr>
        <td colspan=2 align="right">
            <button id="button_yes" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok"></span>
                确定
            </button>
        </td>
    </tr>
</table>

    </body>
<script>
$("#group").change(function() {
	$("#choice").empty();
    var group = $("#group").find("option:selected").text();
    $("#choice_text").text(group+':');
	$.post('{% url "data" %}', {'type': "group",'data':group}, function (response) {
        $.each(response, function () {
            $("#choice").append($("<option>").text(this[0]).val(this[1]));
        });
	})
});

$("#choice").change(function() {
	$("#choice").find("option:selected").remove();
});

$("#member").change(function() {
	$("#choice").append($("<option>").text($("#member").find("option:selected").text()).val($("#member").find("option:selected").val()));
});

$("#button_yes").click(function () {
    var member_list = '';
    $('#choice option').each(function () {
        member_list=member_list+($(this).val())+';';
    });
    $.post('{% url "group" %}', {'group':$("#group").find("option:selected").val(),'member_list':member_list},function(response){
        alert(response);
        start()
    })
})

</script>
{% endblock %}