{% extends 'dingding/template.html' %}
{% block content %}
    <body onload="start()" style="background:transparent;">
<table align="center">
    <tr>
        <td rowspan=2 style="width: 300px;">
            <b>分组：</b>
            <select id="group" size="31" class="selectpicker show-tick form-control"></select>
        </td>
        <td style="width: 400px;">
            <b id="choice_text">成员：</b>
            <select id="choice" size="29" multiple="multiple" class="selectpicker show-tick form-control"></select>
        </td>
        <td style="width: 400px;">
            <b>全部人员：</b>
            <select id="member" size="29" class="selectpicker show-tick form-control"></select>
        </td>
    </tr>
    <tr>
        <td colspan=2 align="right">
            <button id="button_yes" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok"></span>
                确定
            </button>
        </td>
    </tr>
</table>
    </body>
<script>
    $("#group").click(function () {
        var group = $("#group option:selected").val();
        $.post('{% url "data" %}', {'type': "group", 'data': group}, function (member_list) {
            window.member_list = member_list;
            $("#choice").empty();
            $.each(member_list, function () {
                $("#choice").append($("<option>").text(this.name).val(this.id))
        });
	})
});

    $("#choice").click(function () {
        $("#choice option:selected").remove()
    });

    $("#member").click(function () {
        choice_add("#member")
    });

$("#button_yes").click(function () {
    if ($("#group option:selected").text() == '') {
        alert('请选组')
    }
    else {
        if (confirm("确定修改 " + $("#group option:selected").text())) {
            var member_list = [];
            $('#choice option').each(function () {
                member_list.push($(this).val())
            });
            $.post('{% url "group" %}', {
                'group': $("#group option:selected").val(),
                'member_list': JSON.stringify(member_list)
            }, function (response) {
                start()
            })
        }
    }
})

</script>
{% endblock %}