{% extends 'dingding/template.html' %}
{% block content %}
    <body style='background:transparent;'>
    <table class='table'>
        <thead>
        <tr>
            <th width='10%'>时间</th>
            <th>操作</th>
            <th width='20%'>失败</th>
            <th width='5%'>发送人</th>
            <th>内容</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
<script>
    $.post('{% url 'log' %}', {}, function (request) {
        $.each(request, function () {
            var td_time = $('<td>').text(this.time);
            var td_member = $('<td>').append($('<button>').text('重发').attr({
                'type': 'button',
                'class': 'btn btn-default',
                'onclick': 'history(' + this.member + ')'
            }));
            var td_fail = $('<td>').text(this.fail);
            var td_author = $('<td>').text(this.author);
            var td_content = $('<td>').text(this.content);
            $('tbody').append($('<tr>').append(td_time).append(td_member).append(td_fail).append(td_author).append(td_content))
        });
    });

    function history(id) {
        window.location.href = '/page/home/?history=' + id
    }
</script>
{% endblock %}