{% extends 'dingding/template.html' %}
{% block content %}
<table class="table">
        <thead>
          <tr>
            <th>时间</th>
            <th>成功</th>
            <th>失败</th>
            <th>内容</th>
            <th>操作人</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>

<script>
</script>
{% endblock %}