{% extends 'dingding/template.html' %}
{% block content %}
    <body style="background:transparent;">
    <table class="table">
        <thead>
        <tr>
            <th width="7%">时间</th>
            <th width="5%">总人数</th>
            <th width="20%">失败</th>
            <th width="5%">发送人</th>
            <th>内容</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </body>
<script>
    $.post('{% url "log" %}', {}, function (request) {
        $.each(request, function () {
            $("tbody").append($('<tr><td>' + this.time + '</td><td>' + this.num + '</td><td>' + this.fail + '</td><td>' + this.author + '</td><td>' + this.content + '</td></tr>'));
        });
    })
</script>
{% endblock %}