{% extends 'dingding/template.html' %}
{% block content %}
    <body onload="start()" style="background:transparent;">
<table align=center>
    <tr>
        <td rowspan=2 style="width: 400px;">
            <b>人员选择：</b>
            <select id="member" size="32" class="selectpicker show-tick form-control">
            </select>
        </td>
        <td colspan="2" style="width: 600px;">
            <div class="input-group">
                <span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
                <input id="name" class="form-control" placeholder="姓名">
            </div>
            <div class="input-group">
                <span class="input-group-addon "><span class="glyphicon glyphicon-star"></span></span>
                <input id="num" class="form-control" placeholder="工号">
            </div>
            <div class="input-group">
                <span class="input-group-addon "><span class="glyphicon glyphicon-earphone"></span></span>
                <input id="phone" class="form-control" placeholder="电话">
            </div>
            <div class="input-group">
                <span class="input-group-addon "><span class="glyphicon glyphicon-tag"></span></span>
                <input id="remark" class="form-control" placeholder="备注">
            </div>
        </td>
   </tr>
   <tr>
        <td style="width: 300px;">
            <b id="choice_text">已选：</b>
            <select id="choice" size="23" class="selectpicker show-tick form-control">
            </select>
        </td>
        <td style="width: 300px;">
            <b>全部分组：</b>
            <select id="group" size="23" class="selectpicker show-tick form-control">
            </select>
        </td>
    </tr>
    <tr>
        <td class="input-group"  style="width:100%">
            <span class="input-group-addon "><span class="glyphicon glyphicon-search"></span></span>
            <input id="search" class="form-control" placeholder="请输入关键字">
        </td>
        <td align="left">
            <button id="button_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                新建
            </button>
            <button id="button_del" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-minus"></span>
                删除
            </button>
        </td>
        <td align="right">
            <button id="button_yes" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok"></span>
                确定
            </button>
        </td>
    </tr>
</table>
    </body>
<script>
$("#search").bind("input propertychange",function(){search()});

$(function () {
    start();
    window.code=1;
    window.id=-1;
});

$("#member").change(function() {
    window.code=0;
	$("#choice").empty();
    var member = $("#member").find("option:selected").text();
	$("#choice_text").text(member+':');
	$.post('{% url "data" %}', {'type': "member",'data':member}, function (response) {
        $("#name").val(response.name);
        $("#num").val(response.num);
        $("#phone").val(response.phone);
        $("#remark").val(response.remark);
        window.id = response.id;
        $.each(response.group, function () {
            $("#choice").append($("<option>").text(this[0]).val(this[1]));
        });
	})
});

$("#choice").change(function() {
	$("#choice").find("option:selected").remove();
});
	
$("#group").change(function() {
	$("#choice").append($("<option>").text($("#group").find("option:selected").text()).val($("#group").find("option:selected").val()));
});

$("#button_add").click(function(){
    window.code=1;
    window.id = -1;
    $("input").val('');
	$("#choice").empty();
});

$("#button_del").click(function () {
    if (id > 0) {
        $.post('{% url "member" %}', {'code': '-1', 'id': id, 'name': $("#name").val()}, function (response) {
            alert(response);
            $("input").val('');
            $("#choice").empty();
            start()
        })
    }
    else {
        alert('请选择人员')
    }
});

$("#button_yes").click(function () {
    if ($("#name").val() == '') {
        alert('Error:请输入名字')
    }
    else {
        var group = '';
        $('#choice option').each(function () {
            group = group + ($(this).val()) + ';';
        });
        data = {
            'code': code,
            'id': id,
            'name': $("#name").val(),
            'num': $("#num").val(),
            'phone': $("#phone").val(),
            'remark': $("#remark").val(),
            'group': group,
        };
        $.post('{% url "member" %}', data, function (request) {
            alert(request);
            $("input").val('');
            $("#choice").empty();
            start()
        })
    }
})
</script>
{% endblock %}