<!DOCTYPE HTML>
<head>
    <title>钉钉短信平台</title>
    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
    <script charset="utf8" src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/ajax&date.js"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        function start() {
            $("select").empty();
            $.post('{% url "data" %}', {'type': "member",'data':"all"}, function (member_list) {
                window.member_list = member_list;
                $.each(member_list, function () {
                    $("#member").append($("<option>").text(this[0]).val(this[1]));
                });
            });
            $.post('{% url "data" %}', {'type': "group",'data':"all"}, function (group_list) {
                $.each(group_list, function () {
                    $("#group").append($("<option>").text(this[0]).val(this[1]));
                });
            });
        }

        function search() {
            $("#member").empty();
            $.each(member_list, function () {
                if (this[0].indexOf($("#search").val()) >= 0) {
                    $("#member").append($("<option>").text(this[0]).val(this[1]));
                }
            })
        }
    </script>
    <style type="text/css">
        table {
            align: center
        }

        td, th {
            padding: 2px 15px;
            text-align: center
        }

        div {
            margin: 2px 0px;
            class: input-group;
        }
        button{margin:2px 0px;}
    </style>
</head>
{% block content %}
{% endblock%}
</html>
